---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Balls from "../components/Balls";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---

<Layout title="A">
  <main>
    <BaseLayout pageTitle={pageTitle} />
    <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey There!"]} />
  </main>
</Layout>
